/* Стилизация кнопки */
.button {
    width: 190px;
    height: 48px;
    box-sizing: border-box;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    border: 1px solid var(--grey-4);
    border-radius: 8px;
    opacity: 0.8;
}

.button_primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.button_secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.button_alternate {
    background-color: white;
    border: 1px solid var(--grey-3);
    color: var(--grey-4)
}

.button:not([disabled]):hover {
    opacity: 1;
}


.button_disabled {
    opacity: 0.5;
}