.card {
    padding: 80px 30px 25px;
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
}

.card__title {   
    align-self: center;
}