.modal {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(80%, 80%, 80%, 80%);
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow-y: auto;
}
.modal__window {
    margin: auto;
    background: var(--white);
    opacity: 1;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 30px 40px 33px;
    max-width: 60%;
    margin-top: 30vh;

}
.modal__header {
    position: relative;
}
.modal__close {
    background: url(./icons/x.svg);
    background-size: contain;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    right: -25px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.modal__title {
    margin: 0;
    padding: 0;
}

.modal__content {
    margin-top: 14px;
}