.page {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    box-sizing: border-box;
}

.page__header {
    flex-shrink: 0;
}

.page__main {
    flex-grow: 1;
}

.page__footer {
    flex-shrink: 0;
}

.title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title_size_small {
    font-size: 1.4rem;
}