.page {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    box-sizing: border-box;
}

.page__header {
    flex-shrink: 0;
    min-height: 82px;
}

.page__main {
    flex-grow: 1;
    background-color: var(--grey-1);
}

.page__footer {
    flex-shrink: 0;
}

