.radio {
    position: relative;
    display: inline-block;

}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: none;
    border: none;
    opacity: 0;
}

.radio__state {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    padding: 5px;
}

.radio__icon {
    width: 18px;
    height: 18px;
    color: var(--blue);
    visibility: hidden;
}

.radio__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    user-select: none;
}

.radio__input:checked + .radio__state .radio__control {
    border: 2px solid var(--blue);
    padding: 4px;
}

.radio__input:checked + .radio__state .radio__icon  {
    visibility: visible;
}

.radio__input:disabled + .radio__state .radio__control {
    background: var(--grey-2);
}

.radio__input:disabled + .radio__state {
    cursor: auto;
}

.radio__input:disabled + .radio__state .radio__label {
    color: var(--grey-2);
}


.radio__input:focus + .radio__state .radio__label {
    text-decoration: underline;
}