.skeleton {
    padding: 24px 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__header {
    display: flex;
    justify-items: flex-start;
    align-items: stretch;
    gap: 8px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--grey-3);
}

.skeleton__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(0.25turn, var(--grey-3), var(--grey-2), var(--grey-3));
}

.skeleton__content {
    margin-top: 24px;
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}


.skeleton__line_size_small {
    width: 30%;
}

.skeleton__line_size_medium {
    width: 60%;
}

.skeleton__line_size_large {
    width: 100%;
}